@import url("reset.css");
@import url("fonts.css");

body{
	background: #E5E5E5;
}

[class*="__title"] {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.60;
	/* 40/25 */
	color: #212529;
	max-width: 393px;
}

.footer__title {
	font-family: "Poppins", sans-serif;
	font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.38; /* 25/18 */
color: #F8F9FA; 
}

.fon {
	max-width: 1240px;
	padding-top: 37px;
	padding-bottom: 100px;
}

.content__header{
	padding-bottom: 45px;
}
[class*="__text"] {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	/* 25/16 */
	color: #212529;
	padding-bottom: 40px;
}

[class*="__date"] {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: #495057;
	padding-top: 30px;
	padding-bottom: 15px;
}

[class*="__block"] {
	max-width: 393px;
}

[class*="__menu"],
[class*="__networks"] {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	/* 25/12 */
	color: rgba(73, 80, 87, 0.5);
}

.footer__menu,
.footer__networks{
	color: rgba(248, 249, 250, 0.5);
}

.footer__info {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.66;
	/* 20/12 */
	color: rgba(248, 249, 250, 0.5);
}

footer{
	height: 325px;
	background-color:rgba(33, 37, 41, 1);
}